
/* SVG */

.bi-arrow-down-square:hover, .bi-arrow-down-square:focus,
.bi-plus-square:hover, .bi-plus-square:focus,
.bi-trash:hover, .bi-trash:focus
{
	color: #0d6efd;
}

.alert-success {
	color: #f8f9fa;
	background-color: #198754;
}

.alert-danger {
	color: #f8f9fa;
	background-color: #dc3545;
}

.btn-close-fix {
	background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	opacity: 0.9; 
}
